.Navbar{
    width:80%;
    margin: auto;
    border-bottom: 2px solid rgb(46, 140, 202);
    
}

.Navbar ul{
display: flex;
list-style: none;
}

.Navbar ul li{
    padding: 10px 20px;
}
.Navbar ul li a{
    text-decoration: none;
    color: #000;
}
